<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>
  <h2>Bank Account</h2>
  <div> ID : <span th:text="${bankAccount.id}"></span></div>
  <div> Balance : <span th:text="${bankAccount.balance}"></span></div>

  <form action="#" th:action="@{/withdraw/{id}(id=${bankAccount.id})}" th:object="${amount}" method="post">
      <div>
          <label>Amount Withdraw </label>
          <input type="number" th:field="*{amount}">
      </div>
      <div>
          <input type="submit" value="Withdraw">
      </div>
  </form>
</body>
</html>